@if (variant() === 'success') {
  <img class="callout__icon callout__icon--success" src="/icons/success.svg" alt="" aria-hidden="true" />
}
@if (variant() === 'error') {
  <img class="callout__icon callout__icon--error" src="/icons/error.svg" alt="" aria-hidden="true" />
}
<div class="callout__content">
  @if (heading()) {
    <span class="callout__heading">{{ heading() }}</span>
  }
  <span class="callout__message">{{ message() }}</span>
</div>
<span class="callout__action"><ng-content /></span>
